.mb-4 {

text-align: center;

}
.custom-button {
    background-color: #FF4081;
    color: #FFFFFF;
    border: none;
    padding: 15px 25px; /* Adjust padding as needed */
    font-size: 18px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Add smooth transition effects */
    cursor: pointer;

    /* Add box shadow for depth */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    /* Hover effect */
    &:hover {
        background-color: #D81B60;
        transform: scale(1.05); /* Add a slight scale effect on hover */
    }
}

.rounded-circle{
    width: '900px';
     height: '450px';
    objectFit: 'cover';}

    .back-icon-container {
        color: #000; /* Set color to black */
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px; /* Set the desired height */
      }
      
      .back-button {
        font-size: 30px; /* Set the font size to make it bigger */
        /* Add any other styles you want for the icon */
      }